body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px; /* Ancho máximo del contenedor */
    width: 80%; /* Porcentaje del ancho de la ventana */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  input,
  select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  button:hover {
    background-color: royalblue;
  }
  
  label {
    color: dodgerblue;
    font-weight: bold;
  }
  
  .vehiculo {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .servicios-container {
    margin-top: 10px;
  }
  
  .servicios-container select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .servicio-asignado {
    margin-top: 10px;
  }

  /* Estilos CSS */
select.servicios {
  display: none;
}

  